:root {
	--text-color: #000000;
	--background-color: #FFFFFF;
	--text-color-subtle: rgba(0, 0, 0, 0.75);
	--background-color-subtle: rgba(255, 255, 255, 0.75);
	--accent-color: #0000FF;
	--inversion-power: 0%;
}

[data-theme="dark"] {
	--text-color: #FFFFFF;
	--background-color: #000000;
	--text-color-subtle: rgba(255, 255, 255, 0.75);
	--background-color-subtle: rgba(0, 0, 0, 0.75);
	--accent-color: #ffff00;
	--inversion-power: 100%;
}

body {
	font-family: "Fira Code", monospace;
	margin: auto;
	padding: 20px;
	max-width: 120ch;
	background-color: var(--background-color);
	line-height: 1.4;
	color: var(--text-color);
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	color: var(--accent-color);
}

img {
	max-width: 100%;
	height: auto;
}