---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import TechnologyDiv from "../components/TechnologyDiv.astro";
import ProjectDiv from "../components/ProjectDiv.astro";
import IndexMain from "../components/IndexMain.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title, stack, description, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<IndexMain />
		<div>
			<h2 id="projects">My Projects</h2>
			<div class="grid">
				<ProjectDiv
					title="Iemscrapper"
					url="https://github.com/niewolinsky/go-iemscrapper"
					stack="Go (gocron, colly), MongoDB, Redis"
					description="Daemon app that perodically scraps data from popular earphone stores and ranking websites, archiving it and serving the data along some interesting statistics, that might help potential buyer. The information is then served independently via http."
				/>
				<ProjectDiv
					title="Spotify Enhanced"
					url="https://github.com/niewolinsky/vue-spotify_enhanced"
					stack="Vue (vuex, vue router), Spotify REST API"
					description="Single-page application making use of Spotify's REST API to present user listening habits and statistics (similar to Spotify Wrapped event) in a appealing and readable manner. I wrote my own mini css framework mimicking the glassmorphism style."
				/>
				<ProjectDiv
					title="Snake Photo Editor"
					url="https://github.com/niewolinsky/python-snake_photo_editor"
					stack="Python (OpenCV, cvui, Pillow)"
					description="Fun project trying to recreate some of the popular photo editing software with minimal effort using Python. Created as a part of uni project. The app has many basic photo and image editing toolsa and utilities, but it is not meant to be used professionally."
				/>
				<ProjectDiv
					title="Movie Database"
					url="https://github.com/niewolinsky/go-moviedb"
					stack="Go (httprouter), PostgreSQL, Migrate, Task"
					description="Framework-less REST API, allowing you to store and retrieve simple movie data in JSON format. Follows standard good practices regarding UX and HTTP. Written alongside reading a Alex Edward's 'Let's Go Further' book."
				/>
			</div>
			<a
				style="text-align: center; display: block; font-size: 20px; margin-top: 6px;"
				href="https://github.com/niewolinsky"
			>
				{">"}more at github{"<"}
			</a>
		</div>
		<hr />
		<div>
			<h2 id="technologies">My Technology Stack</h2>
			<div class="grid">
				<TechnologyDiv
					title="Programming Languages"
					stack="Go, Typescript, Bash"
					description="I use Go for CLI apps, standalone backends and cloud microservices. I like Typescript for fullstack and frontend development. I sometimes use Bash as a scripting language for Linux related stuff."
				/>
				<TechnologyDiv
					title="Frontend Frameworks"
					stack="Vue (Nuxt), Astro"
					description="I use Vue for single-page applications and general frontends. I am familar with Nuxt for writing fullstack SSR/MPA applications. I use Astro for static or content-driven websites. I can also build websites without a framework."
				/>
				<TechnologyDiv
					title="Backend Runtimes"
					stack="Node (Express, Fastify)"
					description="I use Express for simple REST APIs, or as a middleware to other apps. At the moment, I prefer Fastify over Express for better dev experience."
				/>
				<TechnologyDiv
					title="Databases"
					stack="Postgres, MongoDB, Redis"
					description="Postgres is the main database that I use in most of my projects. I also have some experience with Oracle and Microsoft SQL flavours. Where relations does not make much sense I use MongoDB. Redis is my go-to in-memory database solution."
				/>
				<TechnologyDiv
					title="Tooling"
					stack="Docker, Task, Git"
					description="I have basic knowledge regarding contenerization in Docker. I use Task as my main task runner/build tool. I use Git system on daily basis."
				/>
				<TechnologyDiv
					title="Cloud Providers"
					stack="AWS, DigitalOcean"
					description="I use DigitalOcean with my own apps. When app architecture requires more advanced and custom solutions I switch to Amazon AWS. I want to gain a greater knowledge in utilizing AWS, at the moment I'm familar with basic administrative tasks and main services: S3, EC2, RDB, Lambda, SES, ECS."
				/>
				<TechnologyDiv
					title="Operating Systems"
					stack="Ubuntu Server, Arch Linux"
					description="Currently I'm developing all my applications on custom-built Arch Linux. I like the ability to customize every single piece of my operating system. Ubuntu Server is my choice for stable and mature environment for all other tasks, besides personal use."
				/>
				<TechnologyDiv
					title="SEM & SEO"
					stack="Google Ads, Analytics, Search Console"
					description="I used Google online marketing services for advertising, analysis and optimizing websites. I also have some basic skills for content creation. My software of choice is Affinity suite and Figma for any creative work."
				/>
				<TechnologyDiv
					title="Other"
					stack="Wordpress, Shopify"
					description="I have built few static websites using Wordpress with Gutenberg-based themes like Kadence & Getwid Blocks. I plan on learning Shopify in the future."
				/>
			</div>
		</div>
		<hr />
		<blockquote>
			<i
				>“Perfection is Achieved Not When There Is Nothing More to Add,
				But When There Is Nothing Left to Take Away” - Antoine de
				Saint-Exupery.
			</i>
		</blockquote>
		<Footer />
		<style>
			.grid {
				display: flex;
				gap: 20px;
				flex-wrap: wrap;
			}

			hr {
				margin: 10px;
				border: 0;
				height: 1px;
				background-image: linear-gradient(
					to right,
					var(--background-color-subtle),
					var(--text-color-subtle),
					var(--background-color-subtle)
				);
			}

			blockquote {
				margin: 40px auto 20px auto;
				max-width: 360px;
				text-align: center;
				text-decoration: ;
			}

			@media (max-width: 640px) {
				.grid {
					flex-direction: column;
				}

				h2 {
					text-align: center;
				}
			}
		</style>
		<script>
			import "../scripts/script.js";
		</script>
	</body>
</html>
