<button>
    <slot />
</button>
<style>
    button {
        border: 1px solid var(--text-color);
        padding: 10px 20px;
        border-radius: 4px;
        color: var(--text-color);
        background-color: var(--background-color);
        border-style: solid;
        cursor: pointer;
    }
    button:hover {
        color: var(--background-color);
        border: 1px solid var(--text-color);
        background-color: var(--text-color);
    }
</style>
