<div>
    <form
        action="mailto:niewolinski@protonmail.com"
        method="post"
        enctype="text/plain"
    >
        <input type="text" placeholder="Name" required="" name="name" />
        <input
            id="email_address"
            type="email"
            placeholder="Email Address"
            name="email"
            required=""
        />
        <textarea name="message" required="" placeholder="Your Message"
        ></textarea>
        <button type="submit">Send Message</button>
    </form>
</div>
