<div>
    <p>
        I'm currently looking for job in web development. I'm also open to work
        on any interesting projects.
    </p>
    <h3>Przemysław Niewoliński</h3>
    <h3>
        <a href="mailto:niewolinsky@protonmail.com"
            >niewolinski@protonmail.com</a
        >
    </h3>
    <h3>+48 736 700 068</h3>
</div>

<style>
    p {
        margin: 0 0 36px 0;
        max-width: 320px;
        text-align: justify;
    }
</style>
