---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>
	</nav>
	<div id="switchContainer" class="switch">
		<input type="checkbox" id="darkMode" />
		<label for="darkMode">-------------</label>
	</div>
</header>
<style>
	header {
		display: flex;
		flex-direction: row;
		justify-items: flex-start;
		align-items: baseline;
	}
	h2 {
		font-size: 20px;
	}
	nav {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 16px;
	}
</style>
