<div>
    <h3>Front-End Frameworks</h3>
    <h4>Vue, Svelte</h4>
    <p>I have knowledge of these front-end frameworks.</p>
</div>
<style>
    div {
        min-height: 300px;
        border: black 1px solid;
        border-radius: 4px;
    }
</style>
